{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Add closure field
        </h1>{{releaseVersion | log }}
        <p class="govuk-body">Enter metadata for closure fields here.</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Please note that this action applies to all 10 files in this folder. Also, if the title is sensitive to the public just beware that adding an alternative title will change the title of all files to sensitive.
            </strong>
        </div>

        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="years">
                Closure period
            </label>
            </h2>
            <div id="closure-period-hint" class="govuk-hint">
                Enter the amount of years this record will be closed for
            </div>
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="years" name="years"
                                                     type="text" spellcheck="false">
                <div class="govuk-input__suffix" aria-hidden="true">years</div>
            </div>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-label govuk-label--m">
                        Closure start date
                    </h2>
                </legend>
                <div id="closure-start-date-hint" class="govuk-hint">
                    Date the record starts
                </div>
                <div class="govuk-date-input" id="closure-start-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*"
                                inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*"
                                inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*"
                                inputmode="numeric">
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                    FOI exemption code
                </label>
            </h2>
            <div id="foi-codes-hint" class="govuk-hint">
                Enter the FOI exemption codes that apply and, if multiple, separate them with comma (,)<br/>23, 24, 25, 26,
                27(1), 27(2), 28, 29, 30(1), 30(2), 31, 32, 33, 34, 35(1)(a), 35(1)(b), 35(1)(c), 35(1)(d), 36, 37(1)(a),
                37(1)(aa), 37(1)(ab), 37(1)(ac), 37(1)(ad), 37(1)(b), 38, 39, 40(1), 40(2), 41, 42, 43(1), 43(2), 44
            </div>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                    FOI exemption asserted
                </label>
                <div id="passport-issued-hint" class="govuk-hint">
                    Date of the Advisory Council approval
                </div>
            </h2>
            <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                            name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                            id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*"
                            inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                            id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*"
                            inputmode="numeric">
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                    Title public
                </label>
            </h2>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Is the title sensitive to the public?
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="yes" name="is-the-title-sensitive" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="no" name="is-the-title-sensitive" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="no">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="show-me">
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                        Title alternative
                    </label>
                </h2>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
        </div>

        <a href="/closure-added.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#yes').click(function () {
            $('#show-me').show();
        });
        $('#no').click(function () {
            $('#show-me').hide();
        });
    });
</script>

{% endblock %}