
{% extends "layout.html" %}

{% block pageTitle %}
Add metadata field
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Add metadata field
      </h1>{{releaseVersion | log }}
      <p class="govuk-body">Choose which fields you would like to add.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Please note that this action applies to all {{ countFiles(contents) }} files in this folder. It may overwrite
          a value that you set earlier.
        </strong>
      </div>

      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              {% for fieldId, field in allowedFields %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="choose-field-{{ fieldId }}" name="choose-field" type="checkbox" value="{{ fieldId }}">
                <label class="govuk-label govuk-checkboxes__label" for="choose-field-{{ fieldId }}">
                  {{ field.name }}
                </label>
              </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
