
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Edit metadata
        <p class="govuk-body">If you would like to add further description to your transfer you can do so on this page, otherwise you can continue with your transfer.</p>
      </h1>{{releaseVersion | log }}
      

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          {% for folder in breadcrumbs %}
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/browse/{{folder.path}}">{{folder.name}}</a>
            </li>
          {% endfor %}
        </ol>
      </div>

      <a href="/edit-folder/{{ currentPath.join('%2F') }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Edit metadata for all files in this folder
      </a>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Total files</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for folderId, folder in contents.folders %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                📁
                <a href="/browse/{{ currentPath.concat(folderId).join('%2F') }}">
                  {{folder.name}}
                </a>
              </th>
              <td class="govuk-table__cell">{{ countFiles(folder) }}</td>
            </tr>
          {% endfor %}
          {% for fileId, file in contents.files %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                {{file.icon}}
                <a href="/file-summary/{{ currentPath.concat(fileId).join('%2F') }}">
                  {{file.name}}
                </a>
              </th>
              <td class="govuk-table__cell"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
