{% extends "layout.html" %}

{% block pageTitle %}
Add or edit descriptive data on file basis
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Add or edit descriptive data on file basis
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You can now add, edit or delete descriptive data to individual files or folders. You can also
      delete individual files from this consignment if needed.</p>
    <p class="govuk-body">Click on a particular file or folder to see what metadata is already captured and add, edit
      or delete properties there. For a bulk edit, first select files and/or folders and then choose an action from the menu.</p>

    <h2 class="app-task-list__section">Folder uploaded: chocolate-muffin</h2>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" name="selectAll"
      value="select-all" onClick="check_all()">
      Select all
    </button>
      <!--<a href="/add-closure-to-file" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add closure
      </a>-->
      <a id="closureLink" href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add closure
      </a>
<!--      <a href="add-field-to-file/{{ currentPath.join('%2F') }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add properties
      </a>-->
      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add properties
      </a>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Delete file
      </button>
    </div>

    <table class="govuk-table">
      <!-- <div class="hmcts-search">
        <form action="" method="get">
          <div class="govuk-form-group">
            <input class="govuk-input hmcts-search__input " id="bill" name="bill" type="search"
              aria-describedby="bill-hint" placeholder="Search...">
          </div>
        </form>
      </div> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Subfolder-Lemon-drizzle" name="organisation" type="checkbox"
                value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="Subfolder-Lemon-drizzle">
                <a href="#">📁 Recipes</a>
              </label>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Subfolder-Chocolate-banana-bread" name="organisation"
                type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="Subfolder-Chocolate-banana-bread">
                <a href="#">📁 Ingredients</a>
              </label>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" onchange="changeLink()" id="choc-chips" name="organisation" type="checkbox" value="cc"
                     data-href="cc">
              <label class="govuk-label govuk-checkboxes__label" for="choc-chips">
                <a href="/file-summary-cc.html">🧾 Chocolate-chips.docx</a>
              </label>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Cacao-powder" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="Cacao-powder">
                <a href="#">📊 Cacao.xlsx</a>
              </label>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="flour" name="organisation" type="checkbox"
                value="flour" onchange="changeLinkBack()">
              <label class="govuk-label govuk-checkboxes__label" for="flour">
                <a href="/file-summary-flour.html">🖼️ Flour.jpg</a>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/home-metadata/test-reports" role="button" draggable="false" class="govuk-button govuk-button--secondary"
       data-module="govuk-button">
      Back to overview
    </a>

  </div>
</div>

<script type="text/javascript">
  function check_all() {
    var checkboxes = document.getElementsByName('organisation');
    checkboxes = [...checkboxes];
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true
    }
  }

  function changeLink() {
    if (document.getElementById("choc-chips").checked && !document.getElementById("flour").checked) {
      document.getElementById("closureLink").setAttribute("href", "/add-closure-field-to-file-cc")
    }
  }

  function changeLinkBack() {
    if (document.getElementById("flour").checked) {
      document.getElementById("closureLink").setAttribute("href", "/add-closure-field-to-file-flour")
    }
  }
  
</script>

{% endblock %}
