{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Add or edit descriptive data on file basis
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You can now add, edit or delete descriptive data to individual files or folders. You can also
      delete individual files from this consignment if needed.</p>
    <p class="govuk-body">Click on a particular file or folder to see what metadata is already captured and add, edit
      or delete properties there. For a bulk edit, first select files and/or folders and then choose an action from the menu.</p>

    <h2 class="app-task-list__section">Folder uploaded: testrecords</h2>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Select all
      </button>
      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add closure
      </a>
      <a href="add-field-to-file/{{ currentPath.join('%2F') }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add metadata fields
      </a>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Delete file
      </button>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <h1 class="govuk-heading-m">
            {% for folder in breadcrumbs %}
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/browse/{{folder.path}}">{{folder.name}}</a>
            </li>
            {% endfor %}
          </h1>
          <!-- <th scope="col" class="govuk-table__header">Total files</th> -->
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for folderId, folder in contents.folders %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            📁
            <a href="/browse/{{ currentPath.concat(folderId).join('%2F') }}">
              {{folder.name}}
            </a>
          </th>
          <!-- <td class="govuk-table__cell">{{ countFiles(folder) }}</td> -->
        </tr>
        {% endfor %}
        {% for fileId, file in contents.files %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            {{file.icon}}
            <a href="/file-summary/{{ currentPath.concat(fileId).join('%2F') }}">
              {{file.name}}
            </a>
          </th>
          <td class="govuk-table__cell"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/home-metadata/test-reports" role="button" draggable="false" class="govuk-button govuk-button--secondary"
       data-module="govuk-button">
      Back to overview
    </a>

  </div>
</div>

{% endblock %}