{% extends "layout.html" %}

{% block pageTitle %}
Edit metadata for all files in folder
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Edit metadata for all files in folder
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You can add new metadata fields or edit or delete existing ones.</p>
    <a href="/home-metadata/test-reports" role="button" draggable="false" class="govuk-button govuk-button--secondary"
      data-module="govuk-button">
      Back to overview
    </a>

    <a href="/add-closure-field-to-folder/{{ currentPath.join('%2F') }}" aria-label="Continue" role="button" draggable="false" class="govuk-button"
      data-module="govuk-button">
      Add closure
    </a>

    <a href="/add-field-to-folder/{{ currentPath.join('%2F') }}" aria-label="Continue" role="button" draggable="false" class="govuk-button"
       data-module="govuk-button">
      Add metadata fields
    </a>

<!--    <h1 class="govuk-heading-m">
      {% for folder in breadcrumbs %}
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/browse/{{folder.path}}">{{folder.name}}</a>
      </li>
      {% endfor %}
    </h1>-->

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of folder
        </dt>
        <dd class="govuk-summary-list__value">
          {{ contents.name }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total files in folder
        </dt>
        <dd class="govuk-summary-list__value">
          {{ countFiles(contents) }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Language
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          English
        </dd>
        <dd class="govuk-summary-list__actions" style="border-bottom: none;">
          <a class="govuk-link" href="/set-folder-prepop-field-value">Edit</a><span class="govuk-visually-hidden"> language, egal status and copyright</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          Public
        </dd>
        <dd class="govuk-summary-list__actions" style="border-bottom: none;">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Copyright
        </dt>
        <dd class="govuk-summary-list__value">
          Crown copyright
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% for closureFieldId, metadataSummary in folderClosureMetadata %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          {{ allowedClosureFields[closureFieldId].name }}
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          {{ metadataSummary }}
        </dd>
        <dd class="govuk-summary-list__actions" style="border-bottom: none;">
          <a href="/set-folder-closure-field-value/{{ currentPath.join('%2F') }}/{{ closureFieldId }}">
            Edit
          </a>
          <br>
          <a href="/set-folder-closure-field-value/{{ currentPath.join('%2F') }}/{{ closureFieldId }}">
            Delete
          </a>
        </dd>
      </div>
      {% endfor %}
      {% for fieldId, metadataSummary in folderMetadata %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ allowedFields[fieldId].name }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ metadataSummary }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/set-folder-field-value/{{ currentPath.join('%2F') }}/{{ fieldId }}">
            Edit
          </a>
          <br>
          <a href="/set-folder-field-value/{{ currentPath.join('%2F') }}/{{ fieldId }}">
            Delete
          </a>
        </dd>
      </div>
      {% endfor %}
    </dl>

  </div>
</div>

{% endblock %}