{% extends "layout.html" %}

{% block pageTitle %}
Edit metadata for a single file
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Edit metadata for a single file
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You can add new metadata fields or edit or delete existing ones.</p>

    <div class="govuk-button-group">
      <a href="/browse/test-reports" role="button" draggable="false" class="govuk-button govuk-button--secondary"
        data-module="govuk-button">
        Back to all folders
      </a>

      <a href="/add-closure-field-to-file/{{ currentPath.join('%2F') }}" role="button" draggable="false" class="govuk-button"
         data-module="govuk-button">
        Add closure
      </a>

      <a href="/add-field-to-file/{{ currentPath.join('%2F') }}" role="button" draggable="false" class="govuk-button"
         data-module="govuk-button">
        Add metadata field
      </a>
    </div>

    <h1 class="govuk-heading-m">
      {% for folder in breadcrumbs %}
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/browse/{{folder.path}}">{{folder.name}}</a>
      </li>
      {% endfor %}
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ fileDetails.name }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Language
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          {{ fileDetails.language }}
        </dd>
        <dd class="govuk-summary-list__actions" style="border-bottom: none;">
          <a class="govuk-link" href="/set-file-prepop-field-value">Edit</a><span class="govuk-visually-hidden"> language, egal status and copyright</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom: none;">
          {{ fileDetails.status }}
        </dd>
        <dd class="govuk-summary-list__actions" style="border-bottom: none;">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Copyright
        </dt>
        <dd class="govuk-summary-list__value">
          {{ fileDetails.copyright }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% for closureFieldId, metadataSummary in fileClosureMetadata %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ allowedClosureFields[closureFieldId].name }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ metadataSummary }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/set-file-closure-field-value/{{ currentPath.join('%2F') }}/{{ closureFieldId }}">
            Edit
          </a>
          <br>
          <a href="/set-file-closure-field-value/{{ currentPath.join('%2F') }}/{{ closureFieldId }}">
            Delete
          </a>
        </dd>
      </div>
      {% endfor %}
    </dl>

  </div>
</div>

{% endblock %}