
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Summary of consignment
      </h1>{{releaseVersion | log }}

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Transferring body
          </dt>
          <dd class="govuk-summary-list__value">
            Department of Swans
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created by
          </dt>
          <dd class="govuk-summary-list__value">
            Alice Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created on
          </dt>
          <dd class="govuk-summary-list__value">
            15 August 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parent folder
          </dt>
          <dd class="govuk-summary-list__value">
            Swan data 1995
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total files
          </dt>
          <dd class="govuk-summary-list__value">
            540
          </dd>
        </div>
      </dl>

      <a href="confirm" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Confirm transfer
      </a>

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Edit metadata
      </a>

    </div>
  </div>

{% endblock %}
