
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Edit metadata
      </h1>{{releaseVersion | log }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Total files</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">📁 Goose reports</th>
            <td class="govuk-table__cell">100</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">📁 Heron reports</th>
            <td class="govuk-table__cell">3</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">📁 Swan reports</th>
            <td class="govuk-table__cell">57</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">🧾 Annual report.docx</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">🧾 Statistics.xlsx</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">🖼️ Wildlife photo.jpg</th>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
